* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gallery {
  display: grid;
  /** Making grid column responsive using autofill **/
  grid-template-columns: repeat(auto-fill, 300px);
}

.gallery img {
  width: 100%;
}
