* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box1 {
  background: lightcoral;
}

.box2 {
  background: lightblue;
}

.box3 {
  background: lightgreen;
}

main {
  height: 100vh;
  display: grid;
  /** fr work like flex, it stretches to fill available space. **/
  grid-template-columns: 1fr 1fr;
  /** Takes 50% of available height i.e. 100vh **/
  grid-template-rows: 1fr 1fr;
}
.box1 {
  grid-row: 1/2;
  grid-column: 1/2;
}
/** box2 start at row 1 and end at 3. **/
.box2 {
  grid-row: 1/3;
}
